.wrapper {
  background-color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .upper {
    .title {
      span {
      }
    }
    .subtitle {
    }
    .form {
      .option {
        .icon {
        }
        .amazon {
        }
        .imdb {
        }
      }
    }
  }

  .bottom {
  }
}
