.container {
  padding: 1rem 2rem;
  background-color: #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);

  .top {
    display: flex;
    justify-content: space-between;

    p:first-child {
      font-size: var(--medium);
      margin-bottom: 0.5rem;
    }

    p:nth-child(2) {
      color: #136cbf;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .list {
    margin-top: 0.5rem;
    text-decoration: none;

    li:nth-child(2n-1) {
      background-color: rgb(245, 245, 245);
    }
    li:nth-child(2n) {
      background-color: rgb(255, 255, 255);
    }

    & > li {
      &:hover {
        text-decoration: none;
        cursor: initial;
      }
      padding: 0;
      border: 0.2rem solid white;
    }
  }
}
