.title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: var(--medium);
  font-weight: 600;
}

span {
  color: #136cb2;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.wrapper {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    185deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(231, 230, 230, 1) 0%,
    rgba(255, 253, 253, 0.6951155462184874) 100%
  );
  .container {
    max-width: 100rem;
    margin: auto;
    background-color: white;
    display: flex;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    .links {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .option {
        display: flex;
        color: rgb(75, 75, 75);
        padding: 1rem 3rem;
        border: 1px solid rgb(228, 228, 228);
        border-radius: 5px;
        width: 50%;
        margin: 0.5rem 0;
        font-size: var(--normal);
        font-weight: 600;
        @media only screen and (max-width: 900px) {
          width: 70%;
          font-size: var(--normal);
        }

        &:hover {
          cursor: pointer;
        }

        .icon {
          height: 2rem;
          width: 2rem;
          background-size: 2rem;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 1rem;
        }
        .google {
          background-image: url('../../assets/icons/hangouts-de-google.png');
        }
        .amazon {
          background-image: url('../../assets/icons/amazonas.png');
        }
        .facebook {
          background-image: url('../../assets/icons/facebook.png');
        }
        .imdb {
          background-image: url('../../assets/images/IMDB.png');
        }
      }
      button {
        margin: 1rem;
        font-size: var(--normal);
        font-weight: 600;
        letter-spacing: 0.1rem;
        padding: 0.8rem 2.5rem;
        border-radius: 5px;
        background-color: #e4b721;
        border: none;
        &:hover {
          cursor: pointer;
        }
        @media only screen and (max-width: 900px) {
          font-size: var(--normal);
          padding: 0.8rem 1.8rem;
        }
      }
      .separator {
        font-size: var(--normal);
        margin: 1rem 0;
        position: relative;
        @media only screen and (max-width: 900px) {
          font-size: var(--small);
          padding: 0.8rem 1.8rem;
        }
        &::after {
          content: '';
          width: 7.5rem;
          height: 1px;

          position: absolute;
          top: 50%;
          left: 150%;
          border: 0.5px solid black;
        }
        &::before {
          content: '';
          width: 7rem;
          height: 1px;
          transform-origin: 100% 100%;
          position: absolute;
          top: 50%;
          right: 150%;
          border: 0.5px solid black;
        }
      }
      .disclaimer {
        margin: 1.5rem 0 3rem 0;
        font-size: var(--xsmall);
        width: 50%;
        letter-spacing: 0.1rem;
        line-height: 1.8rem;
        text-align: center;
        @media only screen and (max-width: 900px) {
          font-size: 0.8rem;
        }
      }
    }
    .Benefits {
      font-size: var(--normal);
      position: relative;
      flex: 1;
      @media only screen and (max-width: 900px) {
        font-size: var(--small);
      }
      @media only screen and (max-width: 600px) {
        margin: auto;
        border-top: 1px solid rgb(228, 228, 228);
        padding: 0.5rem 0.5rem 4rem 3rem;
      }

      .subtitle {
        font-weight: 600;
        margin: 0.5rem 0;
      }

      .text {
        width: 80%;
        line-height: 1.5;
      }

      &::after {
        content: '';
        width: 1px;
        height: 70%;
        position: absolute;
        top: 5%;
        left: -10%;
        border: 0.5px solid rgb(228, 228, 228);
      }
    }
  }

  .history {
    border-top: 2px solid rgba(0, 0, 0, 0.082);

    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 100rem;
    background-color: #ededec;
    padding-bottom: 8rem;

    .title {
      font-size: var(--normal);
      font-weight: 400;
      margin-left: 2rem;
    }
    p {
      margin: 0;
      padding-top: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      align-self: flex-start;
      color: rgb(88, 88, 88);

      &:nth-child(2) {
        color: #136cb2;
        margin-right: 2rem;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
