// html{
//   font-size: 50% !important;
// }
.container {
  display: flex;
  font-size: 1.2rem;
  // font-size: inherit;
  // @media only screen and (max-width: 850px) {
  //   font-size: 90%;
  // }

  .left_side {
    flex: 70%;
    border-right: 0.3rem solid rgb(117, 117, 117);
  }
  .right_side {
    flex: 30%;
    @media only screen and (max-width: 830px) {
      display: none;
    }
  }
}
