.container {
  display: flex;
  font-size: var(--small);

  .left_side {
    flex: 70%;
    border-right: 0.3rem solid rgb(117, 117, 117);
  }
  .right_side {
    flex: 30%;
    @media only screen and (max-width: 830px) {
      display: none;
    }
  }
}
