.search-contenedor {
  display: flex;
  align-items: center;
  width: 65%;
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;

  .list-options {
    display: flex;
    border-right: 1px solid #c2c2c2;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    width: 7%;

    &:hover {
      background-color: #f2f2f2;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      cursor: pointer;
    }

    .icon {
      margin-top: -0.3rem;
      margin-left: 0.4rem;
      color: black;
    }
  }

  input {
    margin-left: 1rem;
    width: 100%;
    height: 2.5em;
    border-radius: 5px;
    outline: none;
    border: none;
  }

  .magnifier {
    width: 5rem;
    height: 1.7rem;
    color: rgba(0, 0, 0, 0.54);

    &:hover {
      cursor: pointer;
    }
  }
}

.focus {
  border: 2px solid #deb522;
}
