.container {
  height: 6.5rem;
  width: 5rem;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 1rem;
  
  @media only screen and (max-width: 765px) {
    height: 5.5rem;
    width: 4rem;
  }
  @media only screen and (max-width: 475px) {
    height: 5rem;
    width: 3.5rem;
  }

  &:hover {
    cursor: pointer;
  }

  .icon {
    font-size: 3rem;
    color: white;
    z-index: 10;
    &:hover {
      color: #deb522;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    border-radius: 5px;
  }
}
