.wrapper {
  margin: auto;
  overflow: hidden;
  .sugestion {
    font-size: var(--normal);
    margin-left: 2rem;
    margin-top: 2rem;
    color: #49a7ff;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
