.container {
  background-color: black;
  color: white;
  width: 23rem;
  font-weight: 600;
  position: absolute;
  top: 5.5rem;
  z-index: 100;

  .option_list {
    text-decoration: none;
    padding: 0;

    :nth-of-type(7) {
      border-top: 1px solid #999999;

      :nth-child(2) {
        margin-left: 2rem;
      }
    }

    ul:last-child {
      padding: 3rem 1.5rem;
    }

    ul:first-child,
    ul:first-child svg {
      color: #deb522;
    }

    .option {
      font-size: 1.5rem;
      padding: 1.5rem 2rem;
      width: 100%;

      svg {
        color: #c2c2c2;
        margin-right: 1rem;
        font-size: 1.8rem;
      }

      &:hover {
        background-color: rgb(71, 71, 71);
        color: white;

        svg {
          color: white;
        }
      }
    }
  }
}
