.history {
  border-top: 2px solid rgba(0, 0, 0, 0.082);

  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 100rem;
  background-color: var(--light-gray);
  padding-bottom: 8rem;

  .title {
    font-size: var(--normal);
    font-weight: 400;
    margin-left: 2rem;
  }
  p {
    margin: 0;
    padding-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: flex-start;
    color: var(--light-black);

    &:nth-child(2) {
      color: var(--dark-blue);
      margin-right: 2rem;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
