.nav {
  color: white;
  background-color: #424242;
  padding: 1rem 2rem;
  @media only screen and (max-width: 900px) {
    font-size: var(--xsmall);
  }
  @media only screen and (max-width: 500px) {
    display: none;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    position: relative;

    :last-child {
      position: absolute;
      right: 0rem;
    }

    :not(:nth-child(5)):not(:last-child) {
      border-right: 1px solid rgb(136, 136, 136);
    }

    li {
      opacity: 0.85;

      padding: 0 1rem;
      &:hover {
        opacity: 1;
        color: rgb(126, 208, 255);
      }
    }
  }
}

.hero_top {
  background-color: #424242;
  display: flex;
  color: white;
  padding-bottom: 1rem;

  .foo {
    flex: 1;
    width: min-content;
    position: relative;
    display: flex;
    height: min-content;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    .bookmark {
      align-self: center;
      margin: auto;
      font-size: var(--large);
      color: rgb(168, 168, 168);
      @media only screen and (max-width: 900px) {
        font-size: var(--big);
      }
      @media only screen and (max-width: 400px) {
        font-size: var(--medium);
      }
    }

    .plus {
      color: white;
      position: absolute;
      font-size: var(--xnormal);
      font-weight: 400;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media only screen and (max-width: 900px) {
        font-size: var(--normal);
      }
      @media only screen and (max-width: 400px) {
        font-size: var(--xsmall);
      }
    }
  }

  .info {
    flex: 7;
    color: white;

    :not(:first-child) {
      opacity: 0.9;
    }

    p:first-child {
      font-size: var(--big);
      @media only screen and (max-width: 900px) {
        font-size: var(--medium);
      }
      @media only screen and (max-width: 400px) {
        font-size: var(--normal);
      }
      & > span {
        margin-left: 0.5rem;
        font-size: var(--medium);
        @media only screen and (max-width: 900px) {
          font-size: var(--xnormal);
        }
        @media only screen and (max-width: 400px) {
          font-size: var(--xsmall);
        }
        opacity: 0.8;
        color: white;
        &:hover {
          color: rgb(126, 208, 255);
          opacity: 1;
        }
      }
    }
    p:nth-child(2) {
      @media only screen and (max-width: 400px) {
        font-size: var(--xsmall);
      }
      & > span {
        color: white;
        font-style: italic;
        margin-left: 0.2rem;
      }
    }
    ul {
      @media only screen and (max-width: 900px) {
        font-size: var(--xsmall);
      }
      @media only screen and (max-width: 400px) {
        font-size: 0.6rem;
      }
      display: flex;
      li {
        padding: 0 1rem 0 0;
      }
      li:not(:first-child) {
        border-left: 1px solid rgb(117, 117, 117);
        padding: 0 1rem;
      }
    }
  }
  .votes {
    flex: 3;
    display: flex;
    align-items: center;
    justify-self: center;

    p:first-child {
      flex: 1;
      font-size: var(--medium);
      font-weight: 400;
      padding-right: 0.5rem;
      border-right: 1px solid rgb(117, 117, 117);
      display: flex;
      @media only screen and (max-width: 600px) {
        font-size: var(--xnormal);
      }
      @media only screen and (max-width: 400px) {
        font-size: var(--normal);
      }

      span {
        font-size: var(--xsmall);
        color: white;
        opacity: 0.5;
        margin-left: 0.2rem;
        height: min-content;
        align-self: flex-end;
      }

      .star {
        margin-right: 1rem;
        color: #e4bb24;
        font-size: var(--medium);
        @media only screen and (max-width: 600px) {
          font-size: var(--xnormal);
        }
        @media only screen and (max-width: 400px) {
          font-size: var(--normal);
        }
      }
    }
    .rating {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 0.2rem 0.9rem;
      text-align: center;
      @media only screen and (max-width: 400px) {
        display: none;
      }
      .rstar {
        font-size: var(--medium);
        opacity: 0.8;
        margin-right: 0.2rem;
        @media only screen and (max-width: 600px) {
          font-size: var(--xnormal);
        }
        @media only screen and (max-width: 400px) {
          font-size: var(--normal);
        }
      }
      &:hover {
        background-color: rgb(29, 131, 247);
        cursor: pointer;
      }
    }
  }
}

.overview {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  font-size: var(--small);
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);

  p {
    margin: 0.3rem 0;
    color: #136cbf;
  }
  & > *:not(:first-child) {
    &:hover {
      cursor: pointer;
    }
  }
  p:first-child {
    margin-bottom: 2rem;
    color: black;
  }
  b {
    opacity: 0.9;
    color: black;
    &:hover {
      cursor: initial;
    }
  }
  button {
    svg {
      margin: 0 0.5rem 0 2rem;
    }
    display: flex;
    align-content: flex-start;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: var(--small);
    background-color: #0d5baf;
    padding: 1.5rem 0;
    margin: 1rem 0;
    @media only screen and (max-width: 600px) {
      width: 50%;
      font-size: var(--xsmall);
      padding: 1rem 0;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}
// }
.imdbPro {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: #eee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);

  &:hover {
    cursor: pointer;
  }

  img {
    width: 6rem;
  }

  p {
    color: #136cbf;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hero {
  display: flex;
  background-color: #424242;
  height: 25rem;
  @media only screen and (max-width: 600px) {
    height: 20;
  }
  @media only screen and (max-width: 400px) {
    height: 18rem;
  }

  & > div {
    background-position: center;
    background-size: cover;
    opacity: 0.9;

    &:hover {
      cursor: pointer;
    }
  }
  .poster {
    flex: 25%;
  }

  .backdrop {
    margin-left: 0.5rem;
    flex: 75%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      .play {
        background-color: rgba(0, 0, 0, 0.171);
      }
    }
    .play {
      color: white;
      bottom: 5%;
      left: 5%;
      font-size: var(--xbig);
      border-radius: 100px;
    }
    p {
      position: absolute;
      color: white;
      bottom: 5%;
      left: 5%;
      text-transform: capitalize;
      opacity: 0.8;
    }
  }
}
