.wrapper {
  width: 100%;
  background-color: black;
  @media only screen and (max-width: 419px) {
    margin-top: 4rem;
  }

  .title {
    padding: 2rem 0;
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(245, 197, 24);
    margin-left: 1rem;
  }
  .description {
    padding-top: 0.5rem;
    color: #a3a3a3;
    font-size: 1.8rem;
    margin-left: 1rem;
  }
  .subtitle {
    color: white;
    font-size: 2.3rem;
    padding: 0.3rem 1rem 0.1rem 1rem;
    position: relative;
    margin-left: 1rem;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border: 2px solid rgb(245, 197, 24);
      border-radius: 5px;
    }
  }
}
