.wrapper {
  margin: auto;
  overflow: hidden;
  .container_1 {
    margin-top: 2rem;
    position: relative;
    height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media only screen and (max-width: 1200px) {
      height: 70vh;
    }
    @media only screen and (max-width: 970px) {
      height: 60vh;
    }
    @media only screen and (max-width: 765px) {
      height: 55vh;
    }
    @media only screen and (max-width: 600px) {
      height: 50vh;
    }
    @media only screen and (max-width: 470px) {
      height: 45vh;
    }
    @media only screen and (max-width: 390px) {
      height: 40vh;
    }
    .container_2 {
      display: flex;
      position: absolute;
      transform: translateX(-10px);
      transition: transform 0.8s ease-in;
      height: 100%;
    }
  }
  .sugestion {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    color: #49a7ff;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
