.wrapper {
  height: 42rem;

  .container {
    margin: auto;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
    color: white;
    position: relative;
    width: 20rem;

    .foo {
      position: absolute;
      top: -0.1rem;
      left: 0.2rem;
      width: min-content;
      opacity: 0.9;
      z-index: 10;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }

      .bookmark {
        font-size: var(--xbig);
        opacity: 0.8;
        color: black;
      }

      .plus {
        position: absolute;
        font-size: var(--normal);
        font-weight: 400;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    img {
      margin-bottom: 1rem;
      width: 100%;
      height: 28rem;
      object-fit: fill;
      // @media only screen and (max-width: 1000px) {
      //   height: 26rem;
      //   width: 19rem;
      // }
      // @media only screen and (max-width: 795px) {
      //   height: 24rem;
      //   width: 18rem;
      // }
      // @media only screen and (max-width: 600px) {
      //   height: 22rem;
      //   width: 17rem;
      // }

      &:hover {
        cursor: pointer;
        opacity: 0.8;
        z-index: 1;
      }
    }

    p {
      padding: 0.3rem;
      margin-left: 1rem;
      font-size: var(--normal);
    }
    .button {
      width: 90%;
      text-align: center;
      position: absolute;
      bottom: 0.8rem;
      color: var(--light-blue);
      padding: 0.8rem;
      border-radius: 5px;
      background-color: rgb(65, 65, 65);

      .icon {
        margin-right: 1rem;
      }
      &:hover {
        background-color: rgb(100, 100, 100);
        cursor: pointer;
      }
    }
    .vote {
      opacity: 0.9;

      .icon {
        margin-right: 1rem;
        color: var(--light-yellow);
      }
    }

    .title {
      font-size: var(--normal);
      color: white;
      &:hover {
        color: var(--light-yellow);
        cursor: pointer;
      }
    }
  }
}
