.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: black;
  padding: 1rem;
  position: relative;

  .option {
    display: flex;
    color: white;
    text-decoration: none;
    align-content: center;

    &:not(:first-child) {
      padding: 0.6em;
    }

    &:hover {
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.3);
      color: white;
      & > .menu_icon {
        color: white;
      }
    }
  }

  img {
    width: 7rem;
  }

  .menu_icon {
    margin-right: .5rem;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.6);

  }

}
