.container {
  display: flex;
  font-size: 1.2rem;

  .left_side {
    flex: 70%;
    border-right: 0.3rem solid rgb(117, 117, 117);

    .nav {
      color: white;
      background-color: #424242;
      padding: 1rem 2rem;

      ul {
        display: flex;
        justify-content: flex-start;
        position: relative;

        :last-child {
          position: absolute;
          right: 0rem;
        }

        :not(:nth-child(5)):not(:last-child) {
          border-right: 1px solid rgb(136, 136, 136);
        }

        li {
          opacity: 0.85;

          padding: 0 1rem;
          &:hover {
            opacity: 1;
            color: rgb(126, 208, 255);
          }
        }
      }
    }

    .hero_top {
      background-color: #424242;
      display: flex;
      color: white;
      padding-bottom: 1rem;

      .foo {
        flex: 1;
        width: min-content;
        position: relative;
        display: flex;
        height: min-content;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }

        .bookmark {
          align-self: center;
          margin: auto;
          font-size: 5rem;
          color: rgb(168, 168, 168);
        }

        .plus {
          color: white;
          position: absolute;
          font-size: 2rem;
          font-weight: 400;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .info {
        flex: 7;
        color: white;

        :not(:first-child) {
          opacity: 0.9;
        }

        p:first-child {
          font-size: 3.5rem;

          & > span {
            margin-left: 0.5rem;
            font-size: 2.5rem;
            opacity: 0.8;
            color: white;
            &:hover {
              color: rgb(126, 208, 255);
              opacity: 1;
            }
          }
        }
        p:nth-child(2) {
          & > span {
            color: white;
            font-style: italic;
            margin-left: 0.2rem;
          }
        }
        ul {
          display: flex;
          li {
            padding: 0 1rem 0 0;
          }
          li:not(:first-child) {
            border-left: 1px solid rgb(117, 117, 117);
            padding: 0 1rem;

          }
        }
      }
      .votes {
        flex: 3;
        display: flex;
        align-items: center;
        justify-self: center;

        p:first-child {
          flex: 1;
          font-size: 2rem;
          font-weight: 600;
          padding-right: 0.5rem;
          border-right: 1px solid rgb(117, 117, 117);
          display: flex;

          span {
            font-size: 1rem;
            color: white;
            opacity: 0.5;
            margin-left: 0.2rem;
            height: min-content;
            align-self: flex-end;
          }

          .star {
            margin-right: 1rem;
            color: #e4bb24;
            font-size: 2.5rem;
          }
        }
        .rating {
          flex: 1;
          display: flex;
          align-items: center;
          text-align: center;
          padding: 0.2rem 0.9rem;

          .rstar {
            font-size: 2.5rem;
            opacity: 0.8;
          }
          &:hover {
            background-color: rgb(29, 131, 247);
            cursor: pointer;
          }
        }
      }
    }
  }
  .hero {
    display: flex;
    background-color: #424242;
    height: 25rem;

    & > div {
      background-position: center;
      background-size: cover;
      opacity: .9;
      &:hover {
        cursor: pointer;
      }
    }
    .poster {
      flex: 25%;
    }

    .backdrop {
      margin-left: 0.5rem;
      flex: 75%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        .play {
          background-color: rgba(0, 0, 0, 0.171);
        }
      }
      .play {
        color: white;
        bottom: 5%;
        left: 5%;
        font-size: 4rem;
        border-radius: 100px;
      }
      p {
        position: absolute;
        color: white;
        bottom: 5%;
        left: 5%;
        text-transform: capitalize;
        opacity: 0.8;
      }
    }
  }
  .right_side {
    flex: 30%;
  }
}
