.container {
  margin: 2rem;
  .header {
    margin: 2rem 0;
    font-size: var(--xnormal);
  }
  .title {
    margin: 1rem;
    color: var(--dark-blue);
    &:hover {
      cursor: pointer;
    }
    span {
      display: block;
      margin: 0.5rem 0;
      font-size: var(--small);
      color: black;
      opacity: 0.8;
      &:hover {
        cursor: initial;
        text-decoration: none;
      }
    }
  }
}
