.container {
  display: flex;
  align-items: center;
  width: 80%;
  height: min-content;
  @media only screen and (max-width: 400px) {
    width: 100%;
  }

  div {
    flex: 1;
    display: flex;
    justify-content: center;
    img {
      width: 3rem;
      height: 4.5rem;
    }
  }

  p:not(:nth-child(3)) {
    flex: 3;
    color: var(--dark-blue);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  p:nth-child(3) {
    flex: 1;
    font-size: var(--xsmall);
    font-weight: 400;
    color: rgb(141, 141, 141);
  }
}
