@mixin hover-decoration {
  text-decoration: underline;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p:first-child {
      font-size: var(--xnormal);
      opacity: 0.8;
      &:hover {
        @include hover-decoration;
        color: var(--dark-blue);
      }
    }
    img {
      width: 100%;
      margin: 1rem 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
  p:nth-child(2) {
    margin: 1rem 0;
    color: var(--dark-blue);
    &:hover {
      @include hover-decoration;
    }
    span {
      color: black;
    }
  }
}
