.container {
  display: flex;
  align-items: center;
  width: 65%;
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;

  @media only screen and (max-width: 1200px) {
    width: 50%;
  }

  @media only screen and (max-width: 870px) {
    width: 40%;
  }

  @media only screen and (max-width: 600px) {
    min-width: 30%;
  }
   @media only screen and (max-width: 470px) {
    min-width: 20%;
  }

  @media only screen and (max-width: 390px) {
    background-color: black;
    justify-content: center;
    width: min-content;
  }

  .list_options {
    display: flex;
    border-right: 1px solid #c2c2c2;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 7%;

    @media only screen and (max-width: 1200px) {
      width: 10%;
      margin-left: 1rem;
      padding-right: 0.5rem;
    }
    @media only screen and (max-width: 870px) {
      width: 20%;
    }
    @media only screen and (max-width: 470px) {
      display: none;
    }

    &:hover {
      background-color: #f2f2f2;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      cursor: pointer;
    }

    .icon {
      margin-top: -0.3rem;
      margin-left: 0.4rem;
      color: black;
    }
  }

  input {
    margin-left: 1rem;
    width: 100%;
    height: 2.5em;
    border-radius: 5px;
    outline: none;
    border: none;
    @media only screen and (max-width: 600px) {
      width: 50%;
    }
    @media only screen and (max-width: 600px) {
      width: 50%;
    }
    @media only screen and (max-width: 390px) {
      display: none;
    }
  }

  .magnifier {
    width: 5rem;
    height: 1.7rem;
    color: rgba(0, 0, 0, 0.54);

    &:hover {
      cursor: pointer;
    }
    @media only screen and (max-width: 390px) {
      color: white;
      opacity: 0.8;
    }
  }
}

.focus {
  border: 2px solid #deb522;
}

//Querys
