.container1 {
  position: relative;
  border: 2px solid red;
  height: 400px;
  width: 1200px;
  overflow: hidden;

  .container2 {
    display: flex;
    position: absolute;
    transform: translateX(-10px);

    transition: transform 0.8s ease-in;
  }
}
