.container {
  display: flex;
  padding: 3rem 2rem;

  .left {
    flex: 1;

    p:first-child {
      font-size: var(--medium);
      margin-bottom: 1rem;
    }

    button {
      font-size: var(--normal);
      padding: 0.5rem;
      // border-radius: 5px;
      border: 1px solid rgb(236, 173, 2);
      background: rgb(2, 0, 36);
      background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(240, 231, 107, 0.88) 0%,
        rgba(245, 215, 43, 1) 100%
      );
      &:hover{
        cursor: pointer;
      }

    }
  }
  .right {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: var(--small);
    p {
      padding: 0 0.5rem;
      margin: 0.5rem;
      border-left: 1px solid rgba(0, 0, 0, 0.144);
      color: #136cbf;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
